# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
app.config.ts
.env

# Metro bundler
.metro-cache/

# iOS
build/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.ipa

# Android
build/
.gradle/
*.keystore

# Jest
coverage/

# General
.DS_Store
.idea/
*.pem
